# محیط مجازی پایتون (بسیار مهم)
venv/
.venv/
env/

# پوشه‌های سیستم و کتابخانه‌ها
lib/
bin/
include/
lib64/

# فایل‌های تنظیمات شخصی یا کش
__pycache__/
*.pyc

# فایل‌های سیستم‌عامل
.DS_Store
Thumbs.db

